extends ./layout

block styles
    link(rel='stylesheet', href='/css/404.css')

block content
    .jumbo-wrapper.container
        .jumbotron.apple-container
            h1 I couldn't find that page...
            img#apples.img-rounded.center-block(src='/images/apples.jpg')
            h1 ...but I did find you these apples.
            p <a href="https://twitter.com/search?q=%23yourewelcome&src=typd">#YoureWelcome</a>