body {
    background-color: #8a939d;
}

#calculator {
    width: 100%;
    height: 450px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#calculator a:hover {
    text-decoration: none;
}

.preview {
    width: 205px;
    height: 205px;
    border-radius: 3px;
    border: 3px dashed #fff;
    margin-bottom: 20px;
}

#preview-image {
    width: 200px;
    height: 200px;
}

.control-form {
    width: 200px;
}

#record-button,
#snapshot-button,
#reset-button {
    margin-top: 20px;
}

#snapshot-button,
#reset-button,
#save-button {
    margin-left: 10px;
}

.glyphicon-record,
.glyphicon-stop {
    color: #c0504d;
}

.glyphicon-floppy-save {
    color: #9bbb59;
}

.glyphicon-plus {
    color: #4f81bd;
}

/*Fix a weird alignment issue with some of the glypicons*/
.glyphicon-record,
.glyphicon-floppy-disk,
.glyphicon-floppy-save,
.glyphicon-refresh {
    top: 2px;
}

.glyphicon-floppy-save,
.glyphicon-record,
.glyphicon-floppy-disk,
.glyphicon-stop,
.glyphicon-plus,
.glyphicon-refresh,
.glyphicon-scissors {
    font-size: 1.5em;
}

.btn {
    outline: none !important;
}

.button-wrapper {
    text-align: center;
}

label {
    color: #fff;
}

.graph,
.controls {
    margin-top: 20px;
}

.loading {
    text-align: center;
    margin-top: 180px;
    color: #fff;
}

.input-group-addon {
    cursor: pointer;
    color: #fd9308;
}

.input-group-addon:hover {
    background-color: #fd9308;
    color: #fff;
    border-color: #fd9308;
}

.alert {
    display: none;
    margin-top: 10px;
    margin-bottom: 0;
}

#processing {
    margin-bottom: 5px;
    color: #fff;
    display: none;
}

#save-button,
#trim-button {
    margin-bottom: 15px;
}

#save-button,
#record-button,
#snapshot-button,
#reset-button,
#trim-button {
    width: 80px;

}
